*{
      margin: 0px;
      padding: 0px;

    }


body{
    font-size: 18px;
    font-family: 'DM Sans';
    background-color: hsl(27, 66%, 92%);
    
}

#conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}

#balance{
    width: 400px;
    height: 70px;
    background-color: hsl(10, 79%, 65%);
    border-radius: 10px;
    margin-bottom: 15px;
    
}

#spending{
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
}

.spending_text{
    text-align: center;
}

#box_jours{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.mon{
    width: 40px;
    height: 50px;
    background-color: hsl(10, 79%, 65%)
}
.thue{
    width: 40px;
    height: 85px;
    background-color: hsl(10, 79%, 65%)
}
.wed{
    width: 40px;
    height: 160px;
    background-color: hsl(224, 91%, 57%)
}
.thu{
    width: 40px;
    height: 80px;
    background-color: hsl(10, 79%, 65%)
}
.fri{
    width: 40px;
    height: 70px;
    background-color: hsl(10, 79%, 65%)
}
.sat{
    width: 40px;
    height: 120px;
    background-color: hsl(10, 79%, 65%)
}
.sun{
    width: 40px;
    height: 55px;
    background-color: hsl(10, 79%, 65%)
}


 /* A REVOIR 
#box_jours{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.mon{
    width: 40px;
    height: 50px;
    background-color: hsl(10, 79%, 65%)
}
.thue{
    width: 40px;
    height: 85px;
    background-color: hsl(10, 79%, 65%)
}
.wed{
    width: 40px;
    height: 160px;
    background-color: hsl(224, 91%, 57%)
}
.thu{
    width: 40px;
    height: 80px;
    background-color: hsl(10, 79%, 65%)
}
.fri{
    width: 40px;
    height: 70px;
    background-color: hsl(10, 79%, 65%)
}
.sat{
    width: 40px;
    height: 120px;
    background-color: hsl(10, 79%, 65%)
}
.sun{
    width: 40px;
    height: 55px;
    background-color: hsl(10, 79%, 65%)
}
*/



    /*
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    */

